<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../static/style.css"/>

    <title>SW test project</title>
</head>
<body>
<div class="container">
    <div class="sub_container">
        <h1 class="header">Welcome to SW test project!</h1>
        <div class="content">
            <p>Please login!</p>
            <form action="/login">
                <button class="btn">Login</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
